/* Modo claro (por defecto) */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: white;
}


/* Contenedor de los botones */
.header-buttons {
    position: fixed;
    top: 0;
    right: 0;
    height: 55px; /* Altura del contenedor */
    display: flex;
    justify-content: flex-end; /* Alinear a la derecha */
    padding-right: 2%;
    align-items: center; /* Centrar verticalmente */
    gap: 20px; /* Espacio entre los botones */
    z-index: 1000; /* Asegura que estén por encima de otros elementos */
    background-color: #002855;
    width: 100%;
}

.Iniciar-sesión {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    padding: 7px 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
    right: 10px;
    background-color: #002855;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    height: 40px; /* Altura del botón */
}

.iniciar-sesión:hover {
    background-color: #ef3340; /* Fondo azul al pasar el mouse */
    color: white; /* Texto blanco */
    border-color: #ef3340; /* Cambiar el borde al mismo azul */
}


/* Estilo de la tabla */
table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #002855;
}

th:not(.dark-mode) {
    background-color: #002855;
    color: white;
}

.button {
    background-color: #002855;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block; /* Cambiar a block para centrar */
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Ocupa toda la altura de la ventana */
}

form {
    margin-bottom: 20px; /* Espacio entre el formulario y el mensaje */
}

#error {
    color: #e94242;
    margin-top: 10px;
}


body.dark-mode .theme-switch {
    border: 2px solid #d4d4d4; /* Borde claro */
}

.theme-switch input[type="checkbox"]:checked + .switch {
    border-radius: 15px; /* Asegura que siga siendo redondeado */
}

.theme-switch input[type="checkbox"] {
    display: none;
}

.theme-switch .switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Contenedor del switch */
.theme-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Ancho del switch */
    height: 30px; /* Altura del switch */
    top: 2px;
    right: 5px;
    background-color: #002855; /* Fondo del switch */
    border-radius: 15px; /* Bordes redondeados */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición del fondo */
    border: 2px solid rgb(255, 255, 255); /* Borde negro por defecto */
    overflow: hidden; /* Ocultar cualquier desbordamiento */
}

.theme-switch:hover {
    box-shadow: 0 0 10px 2px #0a73db;
    transition: box-shadow 0.3s ease; /* Transición suave */
}


/* Esfera que se mueve */
.theme-switch .sphere {
    width: 30px; /* Tamaño de la esfera */
    height: 30px;
    background-color: white; /* Fondo blanco de la esfera */
    border-radius: 50%; /* Forma de esfera */
    position: absolute;
    top: 0px; /* Centrar verticalmente */
    left: 0px; /* Posición inicial (modo claro) */
    transition: transform 0.3s ease, background-image 0.3s ease; /* Transición suave */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

/* Ícono dentro de la esfera */
.theme-switch .sphere::before {
    content: '';
    width: 16px; /* Tamaño del ícono */
    height: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Transición suave del ícono */
    background-image: url('https://i.postimg.cc/MHPSSwWV/sun.png'); /* Ícono de sol */
}

/* Cambiar la posición y el ícono al activar el modo oscuro */
body.dark-mode .theme-switch .sphere {
    transform: translateX(20px); /* Mover hacia la derecha */
}

body.dark-mode .theme-switch .sphere::before {
    background-image: url('https://i.postimg.cc/m2YY8rgP/moon-2.png'); /* Ícono de luna */
}


/* Contenedor de la terminal */
.terminal {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1000px; /* Ancho máximo */
    margin: 20px auto;
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* Salida de la terminal */
.terminal-output {
    flex: 1;
    overflow-y: auto;
    white-space: pre; /* Mantener formato de texto */
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5; /* Espaciado entre líneas */
    overflow-wrap: break-word; /* Evitar desbordes */
}

/* Scroll personalizado para la terminal */
.terminal-output::-webkit-scrollbar {
    width: 6px; /* Más delgado */
}

.terminal-output::-webkit-scrollbar-thumb {
    background-color: #444; /* Color oscuro */
    border-radius: 3px; /* Bordes redondeados */
}

.terminal-output::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color más claro al pasar el mouse */
}

.terminal-output::-webkit-scrollbar-track {
    background-color: #1e1e1e; /* Fondo del track igual al fondo de la terminal */
}

body::-webkit-scrollbar {
    display: none;
}

/* Entrada de la terminal */
.terminal-input {
    display: flex;
    align-items: center;
    background-color: #1e1e1e; /* Fondo igual al de la terminal */
    padding: 5px 10px;
    border-top: 1px solid #444; /* Línea superior para separar */
}

.terminal-input .prompt {
    color: #4caf50; /* Verde para el prompt */
    margin-right: 10px;
}

.terminal-input input {
    flex: 1;
    background-color: #1e1e1e; /* Fondo igual al de la terminal */
    color: #d4d4d4; /* Texto claro */
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 5px 0;
}

.terminal-input input:focus {
    outline: none; /* Sin borde al enfocar */
}

/* Botón de cerrar sesión */
.logout-button {
    background-color: #ef3340; /* Rojo para destacar */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    transition: opacity 0.3s ease transform 0.3s ease; /* Transición suave al mostrar */
}


.logout-button:hover {
    background-color: #c53030; /* Rojo más oscuro al pasar el mouse */
}


/* Menú lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #002855; /* Fondo del menú */
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Botón de menú hamburguesa */
.menu-toggle {
    position: fixed;
    left: 1%;
    border: none;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1001; /* Asegura que esté por encima de otros elementos */
    transition: background-color 0.3s ease;
    background-color: #002855;
}

.menu-toggle:hover {
    background-color: #0059b3;
}

/* Barra lateral oculta */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px; /* Ancho reducido cuando está oculta */
    height: 100%;
    background-color: #002855; /* Fondo del menú */
    color: white;
    padding: 10px 0; /* Espaciado vertical */
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar contenido horizontalmente */
    justify-content: flex-start; /* Alinear contenido al inicio */
    transition: width 0.3s ease; /* Transición suave al expandir */
    z-index: 1000; /* Asegura que esté por encima del contenido */
    overflow: hidden; /* Ocultar contenido adicional */
}

/* Barra lateral expandida */
.sidebar.active {
    width: 250px; /* Ancho completo cuando está visible */
    align-items: flex-start; /* Alinear contenido al inicio horizontalmente */
    padding: 20px; /* Espaciado interno */
}

/* Título del menú */
.sidebar h2 {
    width: 100%;
    text-align: center; /* Centrar el texto */
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    opacity: 0; /* Ocultar inicialmente */
    transition: opacity 0.3s ease; /* Transición suave al mostrar */
}

.sidebar.active h2 {
    opacity: 1; /* Mostrar el texto cuando la barra está expandida */
}

/* Lista de opciones */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 0; /* Ocultar inicialmente */
    transition: opacity 0.3s ease transform 0.3s ease; /* Transición suave al mostrar */
}

.sidebar.active ul {
    opacity: 1; /* Mostrar los botones cuando la barra está expandida */
}

/* Botones del menú */
.sidebar ul li {
    margin-bottom: 15px;
    width: 100%;
}

.sidebar ul li button {
    width: 100%;
    padding: 10px;
    background-color: #004080; /* Fondo de los botones */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left; /* Alinear texto a la izquierda */
    opacity: 0; /* Ocultar inicialmente */
    transform: translateX(-20px); /* Mover hacia la izquierda */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
}

.sidebar.active ul li button {
    opacity: 1; /* Mostrar los botones cuando la barra está expandida */
    transform: translateX(0); /* Volver a la posición original */
}

.sidebar ul li button:hover {
    background-color: #0059b3; /* Fondo al pasar el mouse */
}

/* Botón de cerrar sesión */
.sidebar .logout-button {
    position: absolute; /* Posicionar el botón de forma absoluta */
    bottom: 5%; /* Separación desde el fondo de la barra lateral */
    left: 10%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajustar para centrar completamente */
    width: 80%; /* Ajustar el ancho del botón */
    padding: 10px;
    background-color: #ef3340; /* Rojo para destacar */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0; /* Ocultar inicialmente */
    transform: translate(-50%, -20px); /* Mover hacia la izquierda y arriba */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
}

.sidebar.active .logout-button {
    opacity: 1; /* Mostrar el botón cuando la barra está expandida */
    transform: translateX(0); /* Volver a la posición original */
}

.sidebar .logout-button:hover {
    background-color: #c53030; /* Rojo más oscuro al pasar el mouse */
}

/* Ajustar el contenido principal */
.content {
    margin-top: 2%;
    margin-left: 40px; /* Sin espacio cuando la barra lateral está oculta */
    padding: 20px;
    transition: margin-left 0.3s ease; /* Transición suave */
}



.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    max-width: 100%;
    overflow: hidden;
}

.card table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

.card th, .card td {
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
}

.card th {
    background-color: #002855;
    color: white;
}

.card td {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
}

@media (max-width: 1024px) {
    .card {
        flex: 1 1 100%;
    }
}

/* Modo noche para el dashboard */
body.dark-mode .dashboard {
    background-color: #1e1e1e; /* Fondo oscuro */
    border-radius: 8px;
}

/* Modo noche para las cartas */
body.dark-mode .card {
    background-color: #121212; /* Fondo oscuro para las cartas */
    border-color: #121212;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra más tenue */
}

body.dark-mode .card th {
    border-color: #000000;
}

body.dark-mode .card td {
    background-color: #161616; /* Fondo oscuro para las celdas */
    color: #ffffff; /* Texto claro */
    border-color: #121212;
}